.contact-us-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.member {
  padding: 20px;
  margin: 10px;
  flex: 0 1 calc(33.33% - 20px);
  min-width: calc(33.33% - 20px);
  justify-content: center;
  text-align: center;
}

.contact-card {
  font-size: large;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column; /* Align items in a column */
}

.info {
  flex-grow: 1;
}
.name {
  font-size: small !important;
  text-align: center !important;
}
