html,
body {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  grid-gap: 15px; /* Uniform margin between the boxes */
  background-color: #c6dcee;
  height: 100vh; /* Make the container take the full height of the viewport */
  padding: 20px; /* Optional padding for the container */
}

.box-1 {
  height: 60%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10%;
  margin: 40px 30px;
  padding: 40px;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  text-align: center;
}
.box-2 {
  height: 60%;
  margin: 40px 30px;
  padding: 40px;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  text-align: center;
}

.button-1 {
  margin: 5%;
  height: 50%;
  font-weight: bolder;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #0c3970 0,
    #0a0a37 100%
  );
  border: 0;
  border-radius: 20px;
  box-shadow: rgba(45, 35, 66, 0.4) 4px 4px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: xx-large;
}

.button-1:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-1:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-1:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
